.slides-edit{
    height: 250px;
    background-color: gray;
    color: white;
}

.img-edit
{
    max-width: 100vw !important;
     max-height: 100vh !important;
}

.cardfooter{
    padding:0 16px 10px 16px;
}