<ion-header>
  <ion-toolbar>
       <ion-icon (click)="showAddModel()" style="font-size: 31px;margin-right: 12px;" slot="start" ios="ios-add" md="md-add"></ion-icon>
 

       <ion-title style="text-align: center">الأعمال السابقة</ion-title>

       <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons> 

  </ion-toolbar>
</ion-header>



<ion-content *ngIf="dataReceviedFlag">

  <ion-slides class="slides-edit" (ionSlideDidChange) = "getActiveIndex()" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let prevWork of previousWorks">
      <img class="img-edit"  (click)= "showImage($event)" src="{{prevWork.image}}">
    </ion-slide>
  </ion-slides>
   
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> {{description}}</p>
    </ion-card-content>
    <ion-row dir="ltr" class="cardfooter">
      <ion-col style="padding: 0">
        <ion-icon *ngIf="removeIconFlag" style='font-size: 25px; padding: 7px;' (click)="presentAlertConfirm(id)" name="trash"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
