.next-btn{
   font-size: 44px;
   position: absolute;
   left: 10px;
   color: #3880ff; 
}
.previous-btn{
    font-size: 44px;
    position: absolute;
    right: 10px;
    color: #3880ff; 
 }

 ion-icon{
    color: #3880ff; 
 }

.basic-info-title{
    height: 37px;
    display: flex;
    background-color: cornflowerblue;
    color: white;
    margin-bottom: 40px;
    width: 61%;
    margin-right: auto;
    margin-left: auto;
}
.message-error{
  width: 100%;
  display: block;
  text-align: right;
  padding: 0 10px;
  color: red;
  font-size: 13px;
}