

<ion-content>

  <ion-slides style="height: 100%" pager="true" [options]="slideOpts">
    <ion-slide>
      
      <section style="height: 95% ; width: 100%; padding: 30px">
           <h1>المعلومات الشخصية</h1>
           <ion-item>
                <ion-label> <ion-icon name="person-add"></ion-icon></ion-label>
                <ion-input  placeholder="الأسم كامل" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label><ion-icon name="pin"></ion-icon> </ion-label>
                <ion-input  placeholder="العنوان" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label><ion-icon name="call"></ion-icon></ion-label>
                <ion-input placeholder="رقم الهاتف"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label> الاسم كامل  : </ion-label>
                <ion-input placeholder="رقم الهاتف"></ion-input>
            </ion-item>
           
      </section>
    </ion-slide>

  </ion-slides>


</ion-content>
