.choose-option{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}
.choose-option ion-icon {
  font-size: 40px
}

.choose-option .accept
{
    color: green;
}
.choose-option .reject{
    color: red;
}

.postive-rate:hover{
    color: green;
}
.negative-rate:hover{
    color: red;
}

.date {
    width: 100%;
    display: block;
    text-align: -webkit-left;
    margin-top: 30px;
}
.back-color{
  background-color: currentColor;
}

.main-color{
    color: white;
}
