.overflow-edit{
    max-height: 24px !important;
    overflow: hidden !important;
}
ion-card:hover{
    background-color: aliceblue !important;
}

.band-icon{
    margin: auto;
    font-size: 284px;
    color: dodgerblue;
}