<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>

       <ion-title>الطلبات</ion-title>

       <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons> 

  </ion-toolbar>
</ion-header>


<ion-content>
 
      <ion-card *ngFor='let request of requests' (click) ="show(request)" style="height:188px" >
          <ion-card-header style="padding-bottom: 9px">
            <ion-card-subtitle style="color: red">{{request.state}}</ion-card-subtitle>
            <ion-card-title class="overflow-edit"> {{request.title}}  </ion-card-title>
            <ion-card-subtitle class="overflow-edit" style="color: darkgray ; display: flex ">
                
                    <ion-icon style="margin: auto 0 auto 5px " name="pin"></ion-icon>               
                    {{request.location}} 

            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content style="max-height: 60px; overflow: hidden;">

                   {{request.description}}
          
          </ion-card-content>
         
      </ion-card>
      
      <section *ngIf="bandFlag" style="height: 100% ; display: flex">
        <ion-icon class="band-icon" name="alert"></ion-icon>
      </section>
           
      <section *ngIf="emptyRequestsFlag" style="height: 100% ; display: flex">
            <p  style="margin: auto ; color: brown">
                    <ion-icon name="sad"></ion-icon> 
                نعتذر لا توجد طلبات لك في الوقت الحالي</p>
       </section>

</ion-content>
