// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


*{
    font-family: 'El Messiri', sans-serif !important;

}


.personal-icon{
    width: 78px; 
    height: 78px;
    display: block;
    margin: 15px auto;
}


// to work put it in home
div.swiper-pagination {
    top:18px ;
    bottom:inherit;
    padding: 5px;
}


.image-circle{
    height: 94px;
    background-color: white;
    border-radius: 80%;
    width: 98px;
    margin: 35px auto 0 auto; 
    border: 5px solid white;
}