<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      الصفحة الرئيسية
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>أبدأ</ion-card-subtitle>
        <ion-card-title>أهلا بك في شطبلي</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>شطبلي هو تطبيق يساعدك علي تواصل مع العملاء بطريقة سريعة وامانة وسهلة من خلال تطبيق سوف يصلك كثيرا من الطلبات بناء علي  تقييمك من خلال العملاء كل ما زاد تقييمك كلما زاد شغلك </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>الخيارات</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label class="font-family: 'Cairo', sans-serif;">الطلبات الواردة</ion-label>
        <ion-badge style="margin-left: 7px" slot="end" color="danger">1</ion-badge>
      </ion-item>
      <ion-item [routerDirection]="'root'" [routerLink]="'/profile'">
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label> الحساب الشخصي</ion-label>
        <ion-icon slot="end"  name="arrow-dropleft"></ion-icon>
      </ion-item>
     
    </ion-list>
</ion-content>
