<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
  
         <ion-title>الاعدادت</ion-title>
  
         <ion-buttons slot="end">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons> 
  
    </ion-toolbar>
  </ion-header>
<ion-content>

        <ion-list>
          <section style="padding-top: 25px">
              <ion-item [routerDirection]="'root'" [routerLink]="'/profile'">
                    <ion-icon slot="start" name="happy"></ion-icon>
                    <ion-label>
                           الملف الشخصي  
                    </ion-label>
                    <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
               </ion-item>
               <ion-item [routerDirection]="'root'" [routerLink]="'/previous-work'">
                    <ion-icon slot="start" name="briefcase"></ion-icon>
                    <ion-label>
                          تعديل أعمالي السابقة
                    </ion-label>
                    <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
                </ion-item>
                <ion-item (click) = "clearSession()" >
                    <ion-icon slot="start" name="walk"></ion-icon>
                    <ion-label>
                          تسجيل الخروج
                    </ion-label>
                    <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
                </ion-item>
          </section>
          
        </ion-list>

        <hr class="hr-edit">

        <ion-list>
            <h3 style="padding: 0 20px">معلومات عن التطبيق</h3>
            <section style="padding-top: 5px">
                <ion-item [routerDirection]="'root'" [routerLink]="'/about'">
                      <ion-icon slot="start" name="contacts"></ion-icon>
                      <ion-label>
                             من نحن 
                      </ion-label>
                      <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
                 </ion-item>
                 <ion-item [routerDirection]="'root'" [routerLink]="'/policy'">
                      <ion-icon slot="start" name="bulb"></ion-icon>
                      <ion-label>
                               سياسة الستخدام
                      </ion-label>
                      <ion-icon ios="ios-arrow-dropleft" md="md-arrow-dropleft"></ion-icon>
                  </ion-item>
            </section>
         </ion-list>

         <section class="icon-media" >
            <ion-icon style="color: blue" name="logo-facebook"></ion-icon>
            <ion-icon style="color: red" name="logo-google"></ion-icon>
            <ion-icon style="color: red" name="logo-youtube"></ion-icon>
            <ion-icon style="color: deepskyblue" name="logo-twitter"></ion-icon>
         </section>
</ion-content>


