.hr-edit{
    height: 20px;
    background-color: grey;
    margin-top: 30px;
}

.icon-media{
    display: flex ;
    justify-content: center;
    margin-top: 50px

}
.icon-media ion-icon{
    margin-left: 10px;
    font-size: 40px;
}